.assortiment {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.assortiment__title {
  font-family: "Oswald";
  @include font(400, 36px, 36px);
  color: $basic-black;
}

.assortiment__name {
  font-family: "Oswald";
  @include font(400, 16px, 20px);
  color: $decoration-black;
}

.assortiment__point {
  font-family: "Arial";
  @include font(400, 12px, 16px);
}

.catalog__button {
  background-color: $basic-green;
  padding: 10px 109px;
  color: $basic-white;
  font-family: "Oswald";
  @include font(400, 16px, 20px);
  text-transform: uppercase;
}

.assortiment__name {
  color: $decoration-black;
  text-transform: uppercase;
}

.assortiment__title--more {
  font-family: "Oswald";
  @include font(400, 16px, 20px);
  color: $special-black;
  text-transform: uppercase;
}

.assortiment__text {
  font-family: "Arial";
  @include font(400, 12px, 16px);
}

.assortiment__button--more {
  background-color: $basic-light-grey;
  color: $special-dark-grey;
  border: none;
  padding: 10px 94px;
  text-transform: uppercase;
  font-family: "Oswald";
  @include font(400, 16px, 20px);
}

.assortiment__wrapper {
  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.assortiment__list {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.assortiment__card {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
