.contacts__title {
  font-family: "Oswald";
  @include font(400, 16px, 18px);
  color: $special-black;
  text-transform: uppercase;
  @include reset-list;
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font(400, 20px, 21px);
    padding-left: 41px;
    padding-top: 66px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {

  }
}

.contacts__text {
  font-family: "Arial";
  @include font(400, 14px, 20px);
  color: $special-dark-grey;
  @include reset-list;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    @include font(400, 16px, 20px);
    padding-right: 41px;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {

  }
}

.contacts {
  background-color: $basic-white;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    min-height: 201px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    position: absolute;
    z-index: 1;
    background-color: $basic-white;
    left: 110px;
  }
}

.contacts--grey {
  background-color: $basic-light-grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
}
