.eating-list {
  @include reset-list;
  height: 157px;

  @media (min-width: $tablet-width) {
    height: 196px;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
  }
}

.eating-list__radio {
  text-transform: uppercase;
  font-family: "Oswald";
  @include font(400, 16px, 18px);
  color: $decoration-black;
}
