.food-type__list {
  @include reset-list;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 320px;
    display: flex;
    flex-wrap: wrap;
  }
}

.food-type__item {
  position: relative;
  background-color: $basic-light-grey;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 570px;
    margin-left: 80px;
    margin-bottom: 40px;
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
}

.food-type__item--weight {
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.food-type__caption {
  font-family: "Oswald";
  @include font(400, 24px, 37px);
  color: $basic-black;
  text-transform: uppercase;
  @include reset-list;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 53px;
    padding-top: 77px;
    @include font(400, 36px, 36px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
  }
}

.food-type__link {
  font-family: "Oswald";
  @include font(400, 16px, 16px);
  color: $basic-black;
  text-transform: uppercase;
  @include reset-list;
  padding-left: 20px;
  display: block;
  padding-top: 38px;
  padding-bottom: 18px;

  &::before {
    content: "";
    background-image: url("../../img/arrow.svg");
    width: 24px;
    height: 12px;
    position: absolute;
    left: 160px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 53px;
    padding-top: 48px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 55px;
  }

}

.food-type__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.food-type__caption--thin {
  &::before {
    content: "";
    background-image: url("../../img/slim-cat.svg");
    width: 50px;
    height: 53px;
    position: absolute;
    left: 22px;
    top: 21px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/slim-cat-tablet.svg");
      width: 200px;
      height: 211px;
      left: 446px;
      top: 81px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/slim-cat-desktop.svg");
      width: 100px;
      height: 106px;
      left: 446px;
      top: 41px;
      left: 52px;
    }
  }
}

.food-type__caption--weight {
  padding-left: 36px;

  @media (min-width: $tablet-width) {
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
  }

  &::before {
    content: "";
    background-image: url("../../img/weight-cat.svg");
    width: 67px;
    height: 50px;
    position: absolute;
    left: 12px;
    top: 25px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/weight-cat-tablet.svg");
      width: 268px;
      height: 200px;
      left: 412px;
      top: 91px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/weight-cat-desktop.svg");
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
    }
  }
}

.food-type__description {
  font-family: "Arial";
  @include font(400, 14px, 18px);
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 33px;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    width: 240px;
    background-color: $decoration-special-grey;
    height: 1px;
    position: absolute;
    left: 20px;
    top: 140px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    @include font(400, 16px, 24px);
    text-align: left;
    padding-left: 53px;
    padding-top: 24px;
    padding-right: 351px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-right: 55px;
  }
}
