.form-date {
  height: 187px;

  @media (min-width: $tablet-width) {
    height: 268px;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
  }
}

.form__column {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
