.main-nav {
  padding: 0;
  margin: 0;
}

.main-nav--closed {
  display: none;
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    padding-top: 24px;
    margin-right: 30px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
    position: relative;
    z-index: 1;
    padding-top: 60px;
  }

}

.main-nav__link {
  @include reset-list;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }

  //&:hover {
    //color: opacity($basic-black, 0.2);
    //border-bottom: 2px solid opacity($basic-black, 0.2);
  //}
}

.map-adress--grey {
  background-color: $basic-light-grey;
}

.main-nav__item {
  padding-top: 21px;
  padding-bottom: 25px;
  padding-right: 2px;
  text-align: center;
  border-top: 1px solid $decoration-grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 34px;
    border-top: none;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media (min-width: $desktop-width) {
    margin-left: 32px;
    &:first-child {
      margin-left: 0;
      margin-right: 37px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}
