.page-footer {
  background-color: $basic-light-grey;
}

.map-adress__title {
  font-family: "Oswald";
  @include font(400, 16px, 18px);
  color: $basic-black;
  text-transform: uppercase;
}

.map-adress__text {
  font-size: 14px;
  line-height: 20px;
}

.map-adress {
  background-color: $basic-white;
}

.social-list {
  @extend: %list;
}
