.main-display {

}

.main-display__title {
  font-family: "Oswald";
  @include font(400, 36px, 36px);
  color: $basic-white;
  @include reset-list;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    @include font(400, 60px, 60px);
    color: $basic-black;
    text-align: left;
  }
}

.main-display__text {
  font-family: "Oswald";
  @include font(400, 14px, 14px);
  color: $basic-white;
  text-transform: uppercase;
  @include reset-list;
  padding-top: 25px;
  padding-bottom: 302px;

  @media (min-width: $tablet-width) {
    @include font(400, 20px, 20px);
    color: $basic-black;
    text-align: left;
    padding-top: 41px;
  }
}

.main-display__button {
  font-family: "Oswald";
  @include font(400, 14px, 20px);
  color: $basic-white;
  background-color: $basic-green;
  padding: 7px 44px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.main-display__wrapper {
  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: flex;
  }
}

.main-distlay__slogan {
  background-image: linear-gradient(to top, $basic-green 85%, $basic-green 85%), url(../../img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 302px;
  width: auto;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-image: linear-gradient(to top, $basic-green 85%, $basic-green 85%), url(../../img/main-background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
  }
}

.main-display__image {
  position: absolute;
  top: 431px;
  left: 50%;
  margin-left: -140px;

  @media (min-width: $tablet-width) {
    top: 250px;
  }

  @media (min-width: $desktop-width) {
    top: 140px;
    left: 800px;
  }
}
