.main-display {
  position: relative;
  text-align: center;

  @media (min-width: $desktop-width) {
    position: inherit;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: absolute;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 50%;
      height: 694px;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/main-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}

.main-display__title {
  font-family: "Oswald";
  @include font(400, 36px, 36px);
  color: $basic-white;
  @include reset-list;
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font(400, 60px, 60px);
    color: $basic-black;
    text-align: left;
    margin-left: 87px;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 141px;
  }
}

.main-display__text {
  font-family: "Oswald";
  @include font(400, 14px, 14px);
  color: $basic-white;
  text-transform: uppercase;
  @include reset-list;
  padding-top: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font(400, 20px, 20px);
    color: $basic-black;
    text-align: left;
    padding-top: 41px;
    padding-bottom: 49px;
    margin-left: 87px;
  }
}

.main-display__button {
  font-family: "Oswald";
  @include font(400, 14px, 20px);
  color: $basic-white;
  background-color: $basic-green;
  padding: 7px 0px;
  text-transform: uppercase;
  display: block;
  width: auto;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(400, 20px, 20px);
    padding: 14px 0px;
    width: 244px;
    text-align: center;
    margin-left: 87px;
    position: absolute;
    top: 275px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
  }
}

.main-display__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-display__image {
  margin-top: 29px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    bottom: -80px;
    right: 222px;
    position: absolute;
  }
}
