.page-footer {
  height: 236px;

  @media (min-width: $tablet-width) {
    height: 146px;
  }

  @media (min-width: $desktop-width) {
    height: 149px;
  }
}

.page-footer__title {
  font-family: "Oswald";
  @include font(400, 16px, 18px);
  color: $basic-black;
  text-transform: uppercase;
}

.page-footer__text {
  font-size: 14px;
  line-height: 20px;
}

.page-footer__adress {
  background-color: $basic-white;
  display: flex;
  min-height: 114px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    min-height: 201px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.social-list {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 322px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.page-footer--content {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__background {
  background-color: $basic-light-grey;
}
