.process {
  margin-top: 27px;
  outline: 5px solid rgba(68, 0, 255, 0.8);
  outline-offset: -5px;
}

.process__title {
  font-family: "Oswald";
  @include font(400, 36px, 40px);
  color: $basic-black;
  @include reset-list;
}

.process__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.process__list {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.process__item {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  padding-left: 80px;
  position: relative;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    font-family: "Arial";
    @include font(400, 16px, 24px);
    width: 230px;
    padding-top: 111px;
    padding-bottom: 134px;
    padding-left: 0;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 201px;
    padding-top: 111px;
    padding-bottom: 44px;
  }
}

.process__description--benefit {

  &::before {
    content: "";
    background-image: url("../../img/benefit-icon.svg");
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;

    @media (min-width: $tablet-width) {
      top: 0;
    }

    @media (min-width: $desktop-width) {
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      background-image: url("../../img/one.svg");
      width: 112px;
      height: 280px;
      position: absolute;
      top: 0;
      right: 50px;
      background-repeat: no-repeat;
    }
  }
}

.process__description--powder {
  &::before {
    content: "";
    background-image: url("../../img/powder-icon.svg");
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;

    @media (min-width: $tablet-width) {
      top: 0;
    }

    @media (min-width: $desktop-width) {
    }
  }
}

.process__description--eating {
  &::before {
    content: "";
    background-image: url("../../img/eating-icon.svg");
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;

    @media (min-width: $tablet-width) {
      top: 0;
    }

    @media (min-width: $desktop-width) {
    }
  }
}

.process__description--time {
  &::before {
    content: "";
    background-image: url("../../img/time-icon.svg");
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;

    @media (min-width: $tablet-width) {
      top: 0;
    }

    @media (min-width: $desktop-width) {
    }
  }
}
