$basic-black: #000000;
$special-black: #111111;
$basic-green: #68b738;
$basic-white: #ffffff;
$background-grey: #eaeaea;
$basic-light-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-dark-grey: #444444;
$decoration-grey: #e6e6e6;
$form-grey: #e7e7e7;
$decoration-light-grey: #ebebeb;
$hover-green: #5eaa2f;
$active-form: #ff8282;
$radio-grey: #bababa;
$decoration-black: #222222;
